.ContactForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Label {
  font-weight: 500;
  margin-bottom: 5px;
}

.Input {
  width: 200px;
  padding: 5px;
  border: 1px solid #a1a1a1;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75);
  outline: none;
}

.FormBtn {
  width: 100px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.FormBtn:hover {
  background-color: #1ea34a;
  color: #fff;
  transform: scale(1.1);
}
